.DS_Store
*.pyc
config.py
venv/
git-web/
ris-web/
temp/*
ris.wsgi
*.komodoproject
*.komodotools
webapp/static/thumbs
webapp/static/tiles
webapp/static/*.xml*
webapp/attachments/*
webapp/daten/*
webapp/static/rss/*.xml
scripts/osm-import/bin
scripts/osm-import/lib
scripts/osm-import/config
scripts/osm-import/*.poly
scripts/osm-import/*.osm
scripts/osm-import/osmfilter
scripts/osm-import/osmosis

