.DS_Store
*.pyc
config.py
venv/
temp/*
*.komodoproject
*.komodotools
webapp/static/thumbs
webapp/static/dateien/*
webapp/static/daten/*
webapp/static/sitemap/*
scripts/osm-import/bin
scripts/osm-import/lib
scripts/osm-import/config
scripts/osm-import/*.poly
scripts/osm-import/*.osm
scripts/osm-import/osmfilter
scripts/osm-import/osmosis

