$def with (filelist)
$var title: Daten
$var description: Hier kannst Du die Daten hinter offeneskoeln.de herunter laden. Open Data First!
$var additional_scripts: /static/js/map.js

<div class="content top">

	<h1>Daten</h1>
	<div class="text">
		
		<p>Die Datenbank hinter offeneskoeln.de steht zum Download zur Verfügung. Bitte beachte, dass wir auch eine <a href="/api/">Programmierschnittstelle (API)</a> anbieten, mit sich Daten <strong>gezielt abfragen</strong> lassen.</p>
		
		<p>Bei den Inhalten handelt es sich größtenteils um amtliche Dokumente, die um einige Daten angereichert wurden.</p>
		
		<p>Wenn Du die Daten für eigene Projekte nutzt, freuen wir uns über eine <a href="/kontakt/">Nachricht</a> und einen Link zu offeneskoeln.de!</p>

	</div>
</div>
<div class="content middle">
	<div class="text">
		<h2>Lizenz</h2>
	
		<p>Hauptsächlich stehen die Daten unter der folgenden Lizenz:</p>
		
		<p><b>Open Data Commons Open Database License (ODbL)</b><br />
		<a href="http://opendatacommons.org/licenses/odbl/">http://opendatacommons.org/licenses/odbl/</a></p>
		
		<p>Ausnahmen sind die in den Datenbank-Dumps enthaltenen <b>Geodaten-Tabellen</b> mit dem Namens-Präfix <b>geo_*</b>. Diese sind Auszüge aus dem Datenbestand von <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>. Die Lizenz für diese Geodaten ist <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>. Urheber sind  OpenStreetMap und Mitwirkende.</p>
	</div>
</div>
<div class="content middle">
	<div class="text">
		
		<h2>Datenbank-Dumps</h2>
		
		<p>Unsere Datenbank-Exporte enthalten alle Daten zu Sitzungen, Gremien, Tagesordnungen etc.</p>
		
		<ul>
		$for file in filelist: 
			<li><a href="$file['name']">$file['name']</a> ($file['size'] MB)</li>
		</ul>
		
		<p>Die Dateiendung <b>.sql.gz</b> steht für GZip-komprimierte SQL-Dateien, <b>.csv.gz</b> steht für GZip-kompromierte CSV-Dateien (Seperator: ;, Zeilentrenner: \n, Escape-Zeichen: \, Zeichensatz: UTF-8)</p>
	</div>
</div>
<div class="content bottom">
	<div class="text">
		<h2>Anträge, Vorlagen und Anlagen</h2>
		
		<p>Die digitalen Anträge, Anfragen, Mitteilungen etc. liegen in Form von einzelnen Dateien vor. Zum größten Teil sind dies PDF-Dokumente, aber auch JPEG- und TIF-Bilder sowie andere Formate.</p>
		
		<p>Sämtliche dieser Dateien sind in der <a href="/attachments/">Attachments-Ordnerhierarchie</a> abgelegt. Dort können sie mit geeigneten Werkzeugen heruntergeladen werden. Es handelt sich um ca. 60.000 Dateien mit insgesamt über 13 GB Datenvolumen (Stand März 2012).</p>
	
	</div>
</div>
