{% extends "layout.html" %}
{% block title %}Disclaimer{% endblock %}
{% block ogtitle %}Disclaimer{% endblock %}
{% block meta_description %}Ein paar Worte zur Vorsicht{% endblock %}

{% block riscontent %}

<div class="content">
	<h1>Wichtige Hinweise zur Datenqualität, Haftungsausschluss</h1>
	
	<div class="text">
		
		<p>Das offene Ratsinformationssystem ist keine offizielle Quelle für amtliche Dokumente und Informationen.</p>
		
		<p>Trotz großer Anstrengungen, korrekte und vollständige Daten zu publizieren, kann es zu <b>Fehlern</b> und <b>Lücken</b> im Datenbestand kommen.</p>
		
		<p>Für die Richtigkeit der Daten und Inhalte übernimmt der <a href="/impressum/">Betreiber</a> des offenen Ratsinformationssystems keinerlei Gewährleistung oder Garantie.</p>
		
		<p><b>Die Nutzung des offenen Ratsinformationssystems geschieht ausschließlich auf eigene Verantwortung der Nutzerinnen und Nutzer.</b></p>
		
		<p>Solltest Du Dich auf hier veröffentlichte amtliche Dokumente beziehen wollen, erkundige Dich bitte bei den <b>offiziellen Quellen</b> (der Stadtverwaltung, dem Rat, den Gremien) nach der aktuellen und amtlichen Version.</p>

		
		<p>Sollten Dir weitere Probleme am Datenbestand auffallen, bitte <a href="/ueber/">kontaktiere uns</a> und beschreibe das Problem. Vielen Dank!</p>
		
	</div>
</div>

{% endblock %}