{% extends "layout.html" %}
{% block title %}Disclaimer{% endblock %}
{% block ogtitle %}Disclaimer{% endblock %}
{% block meta_description %}Ein paar Worte zur Vorsicht{% endblock %}

{% block content %}

<div class="content">
	<h1>Wichtige Hinweise zur Datenqualität, Haftungsausschluss</h1>
	
	<div class="text">
		
		<p>{{config.APP_NAME}} ({{config.BASE_HOST}}) ist keine offizielle Quelle für amtliche Dokumente und Informationen.</p>
		
		<p>Trotz großer Anstrengungen, korrekte und vollständige Daten zu publizieren, kann es zu <b>Fehlern</b> und <b>Lücken</b> im Datenbestand kommen.</p>
		
		<p>Für die Richtigkeit der Daten und Inhalte übernimmt der <a href="/ueber/">Betreiber</a> von {{config.APP_NAME}} ({{ config.BASE_HOST}}) keinerlei Gewährleistung oder Garantie.</p>
		
		<p><b>Die Nutzung von {{config.BASE_HOST}} geschieht ausschließlich auf eigene Verantwortung der Nutzerinnen und Nutzer.</b></p>
		
		<p>Solltest Du Dich auf hier veröffentlichte amtliche Dokumente beziehen wollen, erkundige Dich bitte bei den <b>offiziellen Quellen</b> (der Stadtverwaltung, dem Rat, den Gremien) nach der aktuellen und amtlichen Version.</p>
		
		<h2>Bekannte Probleme</h2>
		
		<p>Aktuell gibt es die folgenden bekannten Probleme im Datenbestand:</p>
		
		<ul>
			<li>
				<h3>Nr. 1: Fehlerhafte Zuordnung von Dokumenten zu Tagesordnungspunkten und Beschlüssen</h3>
				<p>Im Datenbestand werden Dokumente (Anträge, Anfragen, Mitteilungen etc.) fehlerhaft zu Tagesordnungspunkten von Sitzungen zugeordnet. Dadurch werden im Kontext eines Dokuments auch fehlerhafte Beschlüsse und Beschlusstexte angezeigt.</p>
			</li>
			<li>
				<h3>Nr. 2: Falsche Marker-Position bei mehrfach vorhandenen Straßen</h3>
				<p>Die Kartendarstellung auf der Startseite zeigt für einzelne Straßen Marker an der falschen Stelle an. Dies ist dadurch begründet, dass einige Straßennamen in {{ config.CITY_NAME }} mehrfach vorkommen. Dies wird bisher noch nicht berücksichtigt. Da die Marker-Position aus den Durschnittswerten aller Punkte einer Straße errechnet wird, erscheint der Marker bei einer doppelt vorkommenden Straße zwischen den Straßen.</p>
			</li>
		</ul>
		
		<p>Sollten Dir weitere Probleme am Datenbestand auffallen, bitte <a href="/ueber/">kontaktiere uns</a> und beschreibe das Problem. Vielen Dank!</p>
		
	</div>
</div>

{% endblock %}