$def with (reference)
$var title: Dokumenten-Details
$var description: Hier steht alles, was wir über einen Antrag oder ein sonstiges Dokument wissen.
$var additional_scripts: /static/js/document_details_20120308.js

<script type="text/javascript">
var ok_document_id = '$reference';
</script>

<div id="docdetails">
	<div class="content top">
	
	</div>
	<div class="content middle">
		<div class="loading big outer">
			<div class="loading big inner">
			Dokumenten-Details werden geladen...
			</div>
		</div>
	</div>
	<div class="content bottom">
	
	</div>
</div>
