{% extends "layout.html" %}
{% block title %}Dokumente{% endblock %}
{% block ogtitle %}Dokumente{% endblock %}
{% block meta_description %}Eine Liste aller Dokumente im System{% endblock %}

{% block content %}

<div class="content">
	<h1>Dokumente</h1>
	
	<div class="text">
		
		<p>Hallo! Interessant, dass Du Dich auf dieser Seite aufhältst. Sie ist aus guten Gründen nirgends verlinkt. Was nicht heißen soll, dass Du nicht hier bleiben sollst, wo Du schon mal da bist. :)</p>
	</div>
	
	{% for identifier in documents %}
		<a href="{{ identifier|urlencode }}/">{{ identifier }}</a> 
	{% endfor %}
	
</div>

{% endblock %}