{% extends "layout.html" %}
{% block title %}{{ submission.title }}{% endblock %}
{% block ogtitle %}{{ submission.title }}{% endblock %}
{% block meta_description %}Hier steht alles, was wir über einen Antrag oder ein sonstiges Dokument wissen.{% endblock %}

{% block endbody_script %}
{{ super() }}
<script type="text/javascript">
var ok_document_id = '{{ submission.identifier }}';
</script>
{% if config.DISQUS_SHORTNAME %}
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_title = '[{{ submission.identifier }}] - {{ submission.title }}';
		var disqus_category_id = '{{ config.DISQUS_CAT_DOKUMENTE }}';
		var disqus_shortname = '{{ config.DISQUS_SHORTNAME }}';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endif %}
<script type="text/javascript" src="/static/js/document_details.js"></script>
{% endblock %}


{% block content %}
<div id="docdetails">
	<div class="content top">
		<h1>{{ submission.title }}</h1>
		<table class="metadata">
			<tbody>
				<tr>
					<td class="label">Art des Dokuments:</td>
					<td class="value">{{ submission.type }}</td>
				</tr>
				<tr>
					<td class="label">Erstellt am:</td>
					<td class="value">{{ submission.date.strftime('%d.%m.%Y') }}</td>
				</tr>
				<tr class="hidden_debug">
					<td class="label">ID:</td>
					<td class="value">{{ submission._id }}</td>
				</tr>
				<tr>
					<td class="label">Beraten in:</td>
					<td class="value">
						{% if submission.consultations|length ==  1 %}
						1 Sitzung
						{% else %}
						{{ submission.consultations|length }} Sitzungen
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="label">Anlagen:</td>
					<td class="value">
						{% if submission.attachments|length ==  1 %}
						1 Anlage
						{% else %}
						{{ submission.attachments|length }} Anlagen
						{% endif %}
					</td>
				</tr>
				<tr>
					<td class="label">Quelle:</td>
					<td class="value">
						<a href="{{ submission.original_url }}" target="_blank">{{ submission.original_url }}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="consultation content middle">
		<h2>Beratungen in Gremien</h2>
		<ol>
			{% for session in submission.consultations %}
			<li>
				<b>{{ session.committee_name }}</b>,
				{{ session.date_start.strftime('%d.%m.%Y') }}. 
				{% for agendaitem in session.agendaitems %}
					{% if agendaitem.subject != submission.title %}
						<br/>Thema: {{ agendaitem.subject }}
					{% endif %}
					{% if agendaitem.result %}
						<br />Ergebnis: {{ agendaitem.result }}
					{% endif %}
					{% if agendaitem.result_note %}
						&ndash; {{ agendaitem.result_note }}
					{% endif %}
				{% endfor %}
			</li>
			{% endfor %}
		</ol>
	</div>

	{% for attachment in submission.attachments %}
	{% if attachment.thumbnails %}
	{% set twidth = (attachment.thumbnails['300']|sum(attribute='width') + (11 * attachment.thumbnails['300']|length)) %}
	{% endif %}
	<div class="attachment content middle" id="{{ attachment._id }}">
		{% if attachment.thumbnails %}
		{% set numpages = attachment.thumbnails['300']|length %}
		{% endif %}
		<h2>Anlage: {{ attachment.name|truncate(100) }}
			{% if numpages %}
			({{ numpages }} Seiten)
			{% endif %}
		</h2>
		{% if attachment.depublication %}
			<div class="attachmentexclusion">
				<p class="exclusionheader">Es tut uns leid, aber dieses Dokument wurde am {{ attachment.depublication.date.strftime('%d.%m.%Y') }} enfernt. Die Begründung:</p>
				<p class="reasontext">
					{{ attachment.depublication.comment }}
				</p>
			</div>
		{% else %}
			{% if attachment.thumbnails %}
			<div class="thumbs">
				<div class="thumbsinner" style="width: {{ twidth }}px; height: 310px;">
					{% for thumbnail in attachment.thumbnails['300'] %}
					<img class="thumb" src="{{ thumbnail.url }}" width="{{ thumbnail.width }}" height="{{ thumbnail.height }}" />
					{% endfor %}
				</div>
			</div>
			{% else %}
			<div class="nothumbs">
				<div class="smallnote">Zu diesem Anhang liegen keine Vorschaubilder vor.</div>
			</div>
			{% endif %}
			{% if attachment.fulltext %}
			<div class="fulltext">
				<div class="complete">
					<div class="text">{{ attachment.fulltext|trim }}</div>
				</div>
			</div>
			{% else %}
			<div class="nofulltext">
				<div class="smallnote">Zu diesem Anhang kann leider kein Text angezeigt und durchsucht werden. Evtl. handelt es sich um den Scan einer Papiervorlage.</div>
			</div>
			{% endif %}
		<table class="metadata, hidden_debug">
		<tbody>
			<tr>
				<td class="label">ID: </td>
				<td class="value">{{ attachment._id }}</td>
			</tr>
		</tbody>
		</table>
			{% if attachment.url %}
			<div class="actions">
				<a target="_blank" href="{{ attachment.url }}" class="awesome">Anhang öffnen</a>
				<span class="typesize">{{ (attachment.size / 1024)|round(0)|int }} KB PDF – <a title="öffnet das PDF mit Google Docs Viewer" href="https://docs.google.com/viewer?url={{ attachment.url }}" target="_blank">Vorschau</a></span>
			</div>
			{% endif %}
		{% endif%}
	</div>
	{% endfor %}

	<div class="content bottom">
		<div class="comments">
			<h2>Kommentare, Fragen, Ergänzungen</h2>
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>
{% endblock %}