$var title: Feedback
$var description: Wenn Du eine Anregung hast oder Lob/Kritik loswerden möchtest, bist Du hier richtig.
$var additional_scripts: /static/js/map.js

<div class="content">
	<h1>Feedback</h1>
	
	<div class="text">
		
		<p>Bitte nutze für Anregungen und Wünsche unsere UserVoice Seite:</p>
		
		<p><a href="http://offeneskoeln.uservoice.com/" target="_blank">offeneskoeln.uservoice.com</a></p>
		
		<p>Für Fehlermeldungen oder nicht-öffentliches Feedback kannst Du Dich <a href="/kontakt/">direkt an uns</a> wenden.</p>
	
	</div>
</div>
