{% extends "layout.html" %}
{% block title %}Startseite{% endblock %}
{% block ogtitle %}Startseite{% endblock %}
{% block meta_description %}{{ config.META_DESCR|safe }}{% endblock %}

{% block endbody_script %}
{{ super() }}
<script type="text/javascript" src="/static/js/leaflet_0.4.5.js"></script>
<script type="text/javascript" src="http://a.ok.mycdn.de/js/jquery.ajaxq.js"></script>
<script>
var CONF = {
  mapStartPoint: [{{ config.MAP_START_POINT[0]|safe }}, {{ config.MAP_START_POINT[1]|safe }}],
  mapTileUrlSchema: '{{ config.MAP_TILE_URL_SCHEMA|safe }}',
  mapTileAttribution: '{{ config.MAP_TILE_ATTRIBUTION|safe }}',
  mapTileMinZoom: {{ config.MAP_TILE_ZOOMLEVEL_MIN|safe }},
  mapTileMaxZoom: {{ config.MAP_TILE_ZOOMLEVEL_MAX|safe }},
  locationName: '{{ config.LOCATION_NAME|safe }}'
};
</script>
<script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}

{% block content %}
<div id="home">
	<div id="position-form-container" class="content top">
		<div id="position-prompt">
			<form id="position-prompt-form" action="/" method="GET">
				<div class="question">Sieh Dir an, was die Politik in Deiner Umgebung macht:</div>
				<div>
					<span class="mobilerow"><label for="street">Straße:</label> <input id="street" type="text" title="Straße in der Du wohnst oder für die Du Dich interessierst"/></span>
					<a href="#" id="position-prompt-submit" class="awesome extrawide">Anzeigen</a>
					<span class="spinner placeholder"></span>
				</div>
			</form>
		</div>
	</div>
	<div id="map" style="margin-top: 3px;"></div>
	<div id="map-copyright">Kartenmaterial: <a href="http://openstreetmap.org/">OpenStreetMap</a></div>
	<div class="content bottom searchform">
		<div class="header">&hellip; oder suche nach Themen, die Dich interessieren:</div>
		<form id="search-form" method="get" action="/suche/" accept-charset="utf-8">
			<input type="text" id="qinput" name="q" value="" />
			<a href="#" id="submit" class="awesome extrawide">Suchen</a>
		</form>
		{% if config.SEARCH_EXAMPLES %}
		<div class="examples">Beispiele: 
			{% for example in config.SEARCH_EXAMPLES %}
			<a href="/suche/?q={{ example|urlencode }}">{{ example }}</a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}