$var title: Startseite
$var description: Informationen aus der Kölner Lokalpolitik, zugänglich dargestellt, durchsuchbar und geografisch zugeordnet.
$var additional_scripts: /static/js/map.js

<div id="home">
	<div class="content top">
		<div id="position-prompt">
			<form action="/" method="GET">
				<span class="question">Wo in Köln bist Du?</span>
				<span class="mobilerow"><label for="street">Straße</label>: <input id="street" type="text" title="Straße in der Du wohnst oder für die Du Dich interessierst"/></span>
				<span class="mobilerow"><label for="zip">PLZ (optional)</label>: <input id="zip" type="text" size="6" maxlength="5" title="Optional die Postleitzahl zu dieser Straße"/></span>
				<button id="position-prompt-submit" type="button">Anzeigen</button>
			</form>
		</div>
	</div>
	<div id="map" style="margin-top: 3px;"></div>
	<div class="content bottom searchform">
		<div class="header">&hellip; oder suche nach Themen, die Dich interessieren:</div>
		<form method="get" action="/suche/" accept-charset="utf-8">
			<input type="text" id="qinput" name="q" value="" /> <input type="submit" id="submit" value="Suchen" />
		</form>
		<div class="examples">Beispiele: 
			<a href="/suche/?q=b%C3%BCrgerhaushalt">bürgerhaushalt</a>,
			<a href="/suche/?q=sanierung+schauspielhaus">sanierung schauspielhaus</a>,
			<a href="/suche/?q=nord+s%C3%BCd+stadtbahn">nord süd stadtbahn</a>,
			<a href="/suche/?q=shared+space">shared space</a>,
			<a href="/suche/?q=baumf%C3%A4llungen">baumfällung</a>
		</div>
	</div>
</div>
