{% extends "layout.html" %}
{% block title %}Startseite{% endblock %}
{% block ogtitle %}Startseite{% endblock %}
{% block meta_description %}Informationen aus der Kölner Lokalpolitik, zugänglich dargestellt, durchsuchbar und geografisch zugeordnet.{% endblock %}

{% block endbody_script %}
{{ super() }}
<script type="text/javascript" src="http://c.ok.mycdn.de/js/leaflet_0.3.1.min.js"></script>
<script type="text/javascript" src="http://a.ok.mycdn.de/js/jquery.ajaxq.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>
{% endblock %}

{% block content %}
<div id="home">
	<div id="position-form-container" class="content top">
		<div id="position-prompt">
			<form id="position-prompt-form" action="/" method="GET">
				<div class="question">Sieh Dir an, was die Politik in Deiner Umgebung macht:</div>
				<div>
					<span class="mobilerow"><label for="street">Straße:</label> <input id="street" type="text" title="Straße in der Du wohnst oder für die Du Dich interessierst"/></span>
					<a href="#" id="position-prompt-submit" class="awesome extrawide">Anzeigen</a>
					<span class="spinner placeholder"></span>
				</div>
			</form>
		</div>
	</div>
	<div id="map" style="margin-top: 3px;"></div>
	<div class="content bottom searchform">
		<div class="header">&hellip; oder suche nach Themen, die Dich interessieren:</div>
		<form id="search-form" method="get" action="/suche/" accept-charset="utf-8">
			<input type="text" id="qinput" name="q" value="" />
			<a href="#" id="submit" class="awesome extrawide">Suchen</a>
		</form>
		<div class="examples">Beispiele: 
			<a href="/suche/?q=b%C3%BCrgerhaushalt">bürgerhaushalt</a>,
			<a href="/suche/?q=kalkberg">kalkberg</a>,
			<a href="/suche/?q=waldbadviertel">waldbadviertel</a>,
			<a href="/suche/?q=sanierung+schauspielhaus">sanierung schauspielhaus</a>,
			<a href="/suche/?q=nord+s%C3%BCd+stadtbahn">nord süd stadtbahn</a>
		</div>
	</div>
</div>
{% endblock %}