$var title: Kontakt
$var description: Hier findest Du verschiedene Wege, Kontakt aufzunehmen. Diese Seite ist außerdem das Impressum im Sinne des Telemediengesetzes.
$var additional_scripts: /static/js/map.js

<div class="content">
	<h1>Kontakt</h1>
	
	<div class="text">
		
		<h2>Anbieter im Sinne des Telemediengesetzes</h2>
		
		<p>Marian Steinbach<br />
		Alpenerstr. 15<br />
		50825 Köln</p>
		
		<h2>Kontaktaufnahme</h2>
		
		<p>E-Mail: <a href="mailto:kontakt@offeneskoeln.de">kontakt@offeneskoeln.de</a></p>
		
		<p>Telefon: <a href="tel:+491795917086">0179 5 91 70 86</a></p>
		
		<h2>OKFN Mailingliste NRW</h2>
		
		<p>Wenn Du mit interessierten über offeneskoeln.de diskutieren möchtest, wende Dich an die <a href="http://lists.okfn.org/mailman/listinfo/od-nrw">Open Data NRW Mailingliste</a> der Open Knowledge Foundation (OKFN). Beachte bitte, dass Du zunächst der Mailingliste beitreten musst, bevor Du Mails an die Liste schreiben kannst.</p>
		
	</div>
</div>