$var title: Links
$var description: Links zu Organisationen und weiteren Informationen rund um E-Partizipation, Open Government und Open Data
$var additional_scripts: /static/js/map.js

<div class="content">
	<h1>Links</h1>
	
	<div class="text">
		
		<ul class="linklist">
			<li>
				<h3><a href="http://ratsinformation.stadt-koeln.de/infobi.asp">Ratsinformationssystem Köln</a></h3>
				<p>Das Kölner Ratsinformationssystem ist die offizielle Plattform für Gremienarbeit der Stadt Köln und Ablage für Protokolle, Antragsdokumente etc.</p>
				<p><a href="http://ratsinformation.stadt-koeln.de/infobi.asp">http://ratsinformation.stadt-koeln.de/infobi.asp</a></p>
			</li>
			<li>
				<h3><a href="https://recht.nrw.de/lmi/owa/pl_text_anzeigen?v_id=2320021205103438063">Gemeindeordnung für das Land Nordrhein-Westfalen (GO NRW)</a></h3>
				<p>Die geltende Rechtsgrundlage für Rat, Stadtverwaltung und Gremienarbeit. </p>
				<p><a href="https://recht.nrw.de/lmi/owa/pl_text_anzeigen?v_id=2320021205103438063">https://recht.nrw.de/lmi/owa/pl_text_anzeigen?v_id=2320021205103438063</a></p>
			</li>
			<li>
				<h3><a href="http://www.stadt-koeln.de/mediaasset/content/satzungen/geschaeftsordnung-rat-und-bezirksvertretungen2010_12_14.pdf">Geschäftsordnung des Rates und der Bezirksvertretungen der Stadt Köln</a></h3>
				<p>Hier ist auf Basis der GO NRW die Arbeit der Kölner Gremien genau festgelegt. Für alle, die wissen wollen, was z.B. eine Anfrage nach § 4 ist.</p>
				<p><a href="http://www.stadt-koeln.de/mediaasset/content/satzungen/geschaeftsordnung-rat-und-bezirksvertretungen2010_12_14.pdf">http://www.stadt-koeln.de/mediaasset/content/satzungen/geschaeftsordnung-rat-und-bezirksvertretungen2010_12_14.pdf</a></p>
			</li>
			<li>
				<h3><a href="http://www.frankfurt-gestalten.de/">Frankfurt Gestalten</a></h3>
				<p>Frankfurt Gestalten ist ein Vorbild für Offenes Köln und konzeptionell ähnlich, nur eben für Frankfurt/Main.</p>
				<p><a href="http://www.frankfurt-gestalten.de/">http://www.frankfurt-gestalten.de/</a></p>
			</li>
			<li>
				<h3><a href="http://opendata-network.org/">Open Data Network</a></h3>
				<p>Netzwerk zur Förderung von Open Government, Open Data, Transparenz und Partizipation</p>
				<p><a href="http://opendata-network.org/">http://opendata-network.org/</a></p>
			</li>
			<li>
				<h3><a href="http://okfn.de/">Open Knowledge Foundation Deutschland</a></h3>
				<p>Zweck der OKF Deutschland ist die Förderung der offenen Zugänglichkeit aller Formen von Wissen und Daten.</p>
				<p><a href="http://okfn.de/">http://okfn.de/</a></p>
			</li>
		<!--
			<li>
				<h3><a href="URL">Titel</a></h3>
				<p>Beschreibung</p>
				<p><a href="URL">URL</a></p>
			</li>
		-->
		</ul>
	</div>
</div>
